
# executable files
debug*
asm
corewar
a.out

# compilation files
*.o
*.a
*.s
*.cor

# system files
*.DS_Store
*._*
*.swp

# other files
vm_champs
resources_corewar.pdf
corewar.fr.pdf
COREWAR.xlsx
COREWAR.ru.en.xlsx
f*
*.sh